/*el documento ocupara toda la pagina*/
html, body{
  height:100%;
}
div {
  border:ridge;
}
.containerGeneral{
  display:flex;
  flex-direction:column;
  height:100%;
}

.header{
  display:flex;
  justify-content:space-around;
}
.cuerpo{
  display:flex;
  justify-content:space-between;
  height:100%;
}
.leftcolum{
  display:flex;
  flex-direction:column;
  flex-grow:0.5;
}
.midcolum{
  display:flex;
  flex-direction:column;
  flex-grow:1;
}
.rightcolum{
  display:flex;
  flex-direction:column;
  flex-grow:0.1;
  max-width:300px;
}
.topMedio{
  display:flex;
  justify-content:space-around;
}
.subTopMedio{
  display:flex;
  justify-content:space-around;
}
.botMedio{
  display:flex;
  flex-direction:column;
}
.tags{
  display:flex;
  flex-wrap:wrap;
}
.logo{
  flex-grow:1;

}
.interirLog{
  display:flex;
}
.busqueda{
  flex-grow:1;

}
.iconos{
  display:flex;
  flex-grow:1;
  justify-content:center;
}
.interiorIcones{
  display:flex;

}
/*Tambien podriamos usar align-self:center*/
i{
  text-align:center;
  position:relative;
  top:25%;
}
.busquedaTop{
}
