/*el documento ocupara toda la pagina*/
html, body{
  height:100%;
  margin:0;
  padding::0;
}
div {
  border:ridge;
}
.containerGeneral{
  display:flex;
  flex-direction:column;
  height:90%;
}

.header{
  display:flex;
  justify-content:space-around;
}
.cuerpo{
  display:flex;
  justify-content:space-evenly;
  height:100%;
}
.leftcolum{
  display:flex;
  flex-direction:column;
  flex-grow:1;
  max-width:25%;
}
.midcolum{
  display:flex;
  flex-direction:column;
  overflow:scroll;
  flex-grow:1;
  max-width:45%;
}
.rightcolum{
  display:flex;
  flex-direction:column;
  max-width:30%;
  flex-grow:1;
}
.topMedio{
  display:flex;
  justify-content:space-around;
}
.subTopMedio{
  display:flex;
  justify-content:space-around;
}
.botMedio{
  display:flex;
  flex-direction:column;
}
.tags{
  display:flex;
  flex-wrap:wrap;
}
.logo{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.interirLog{
  display:flex;
  justify-content:center;
  height:100%;
}
.LogoForUnsa{
  display:flex;
  align-items:center;
}
.busqueda{
  display:flex;
  flex-grow:1;
  justify-content:center;

}
.busquedaBarra{
  display:flex;
  align-items:center;
  width:100%;
}
.iconos{
  display:flex;
  flex-grow:1;
  justify-content:center;
}
.interiorIcones{
  display:flex;

}
/*Tambien podriamos usar align-self:center*/
.i{
  display:flex;
  align-self:center;
}
.busquedaTop{
  width:85%;
}
